body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #555353;
  color: #ffffff;
}

#main {
  margin-right: 20%;
  margin-left: 20%;
}

header {
  background-color: #6a6a6a;
  color: #ffffff; 
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); 
}

h1 {
  font-size: 2.5em; 
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

#chat-box {
  background-color: #000000;
  padding: 20px;
  border: 1px solid #000000; /* black border */
  border-radius: 5px; /* Rounded corners */
  height: 350px; /* Set chat box height */
  overflow-y: scroll; /* Enable scrolling for long chats */
}

/* Message input styles */
.message-input {
  display: flex; /* Arrange input and buttons horizontally */
  justify-content: space-between; /* Evenly distribute elements */
  padding: 10px 20px;
}

#user-input {
  flex: 1; /* Allow input field to grow */
  padding: 10px;
  border: 1px solid #000000; /* Black border */
  border-radius: 5px; /* Rounded corners */
}

#message-button,
#voice-button {
  background-color: #6a6a6a;
  color: #fff; /* White button text */
  padding: 10px 15px;
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Indicate clickable button */
  margin: 5px;
}

button :hover {
  background-color: #6a6a6a;
}
.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;

}

.bot {
  background-color: #000000;
  color: #ffffff;
  float: left;
  clear: both; /* Ensures messages don't overlap */
}

.user {
  background-color: #555353;
  color: #ffffff;
  float: right;
  clear: both; /* Ensures messages don't overlap */
}

